/* Text iDevice (export CSS) */
.exe-text-activity div.inline {
    display: flex;
}

.exe-text-activity div.inline dt {
    margin: 0 0 0 auto;
}

.exe-text-activity div.inline dd {
    margin-left: 10px;
}

.idevice_node.text .iDevice_buttons.feedback-button {
    margin-bottom: 1em;
}