/* Form iDevice (export CSS) */

.form-IDevice .inline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.true-false-radio-buttons-container,
.button-response-form {
    margin-top: 0.8em;
}

.form-IDevice .QuestionLabel_actionButton {
    display: none;
}

.form-IDevice .form-instructions{
    margin-top: .5em;
}

.form-IDevice .form-buttons-container {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6em;
}

.form-IDevice .form-results-container {
    margin-top: 10px;
    padding: 5px 60px 5px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
}

.form-IDevice ul.FRMP-PREVIEW {
    min-height: 50px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.form-IDevice ul.FRMP-PREVIEW>li {
    padding: 0;
    margin: .5em 0;
}



.form-IDevice ul.FRMP-PREVIEW .FormView_question {
    padding: .5em 0;
}

.form-IDevice ul.FRMP-PREVIEW .FormView_question .activity-title {
    display: none;
}

.form-IDevice ul.FRMP-PREVIEW .FormView_question:nth-child(even) {
    background: none;
}

.FormView_question .selection-buttons-container input[type="radio"],
.FormView_question .selection-buttons-container input[type="checkbox"],
.form-IDevice ul.FRMP-PREVIEW .FormView_question input[type="radio"],
.form-IDevice ul.FRMP-PREVIEW .FormView_question input[type="checkbox"] {
    margin-right: 4px;
}

.form-IDevice ul.FRMP-PREVIEW {
    gap: var(--margin-s);
    display: flex;
    flex-direction: column;
}

.form-IDevice ul.FRMP-PREVIEW>li {
    padding: var(--margin-m);
    border-radius: var(--radius);
    color: var(--body-text-color);
}

.form-IDevice ul.FRMP-PREVIEW>li div[class*="QuestionLabel"] {
    border-radius: 50%;
}

.form-IDevice ul.FRMP-PREVIEW>li p {
    margin-block: var(--margin-s);
}

.form-IDevice .score-text {
    width: -webkit-fill-available;
    text-align: center;
    padding: 5px;
}

.form-IDevice .score-text.pass-test {
    color: green;
}

.form-IDevice .score-text.fail-test {
    color: red
}

.form-IDevice .score-text.number-score {
    padding: 15 0 10px 0;
}

.form-IDevice .score-text.number-score-alone {
    border-radius: var(--radius);
    padding: 15px 0px;
    margin-top: 10px;
    background-color: var(--verde-cl);
}

.form-IDevice .score-text.phrase-score {
    font-weight: 450;
    padding: 0;
}

.form-IDevice .true-false-radio-buttons-container label {
    margin-right: 20px;
}

.form-IDevice .inline-icon {
    font-family: var(--icons-ff);
    font-size: 20px;
    color: rgba(90, 127, 12, 0.4);
    margin: 0 5px;
}

.form-IDevice .inline-icon:hover {
    color: var(--dark-exe-color);
}

.form-IDevice .inline-icon.help-icon {
    cursor: help;
    float: right;
}

.form-IDevice .FormViewContainer input.fillInput {
    margin: 6px 2px !important;
    max-width: 120px !important;
}

.form-IDevice .FormViewContainer select.dropdownSelect {
    margin: 6px 0 !important;
}


select.dropdownSelect {
    padding-right: 1.5em;

}

.FRMP-GameScoreBoard {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.4em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.FRMP-StartGame {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.FRMP-StartGame a {
    text-decoration: none;
}

.FRMP-StartGame a:hover {
    text-decoration: underline;

}

.FRMP-SlideshowContainer {
    position: relative;
    width: 100%;
}


.FRMP-SlideshowWrapper {
    position: relative;
}

.FRMP-SlideshowSlide {
    width: 100%;
    transition: left 0.3s ease-in-out;
}

.FRMP-SlideshowControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
    pointer-events: none;
}

.FRMP-SlideshowControl {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    transition: background 0.2s ease;
    padding: 0;
}

.FRMP-SlideshowControl img {
    width: 100%;
    height: 100%;
}

.FRMP-SlideshowControl:hover {
    background: rgba(255, 255, 255, 0.9);
}

.FRMP-SlideNumber {
    display: block;
    font-size: 1.1em;
}

.FRMP-Questions {
    position: relative;
}

.FRMP-Cover {
    position: absolute;
    top: 3em;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    display: none;

}

.Games-BottonContainer {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0.1em auto;
    padding: 0;
    width: 100%;
}

.Games-GetScore input[type=button] {
    padding: 0.3em 0.5em;
    margin-right: .5em;
    width: auto;
}

.Games-GetScore span {
    display: block;
}

.Games-BottonContainer {
    margin: 0;
    padding: 0;
    width: 100%;
}

.Games-BottonContainer * {
    margin: 0;
    padding: 0;
}


.Games-GetScore {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1em
}


.Games-GetScore span {
    display: block;
}

.Games-ReportIconDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.1em;
    width: 100%;
    margin-bottom: 6px;

}

.Games-ReportIconDiv img {
    width: 16px;
    height: 16px;
    display: block;
}

.Games-ReportIconDiv span {
    font-size: 0.9em;
}